<br>
<br>
<div class="row">
  <div class="col">
    <h3>Product</h3>
  </div>
  <div class="col">
    <a class="btn btn-primary" (click)="openPopup(0)">Add Product</a>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: displayStyle }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Category</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onAddingProduct()" enctype="multipart/form-data">
          <div class="form-group">
            <label for="productname">Product Name</label>
            <input type="text" id="productname" name="productname" class="form-control"
              [(ngModel)]="selectedProduct.productname">
          </div>
          <div class="form-group">
            <label for="categoryid"> Category Id</label>
            <select class="form-select" [(ngModel)]="selectedProduct.categoryid" name="selectedOption">
              <ng-container *ngFor="let category of allCategory">
                <option [value]="category.categoryId">{{ category.categoryname }}</option>
              </ng-container>
            </select>

            <!-- <label for="categoryid"> Category Id</label>
            <input type="text" id="categoryid" name="categoryid" class="form-control" [(ngModel)]="selectedProduct.categoryid"> -->
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" class="form-control"
              [(ngModel)]="selectedProduct.description">
          </div>
          <div class="form-group">
            <label for="price"> Price</label>
            <input type="text" id="price" name="price" class="form-control" [(ngModel)]="selectedProduct.price">
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" id="image" class="form-control" name="imageurl" (change)="onFileSelected($event)">
          </div>
          <div class="form-group">
            <label for="status"> Status</label>
            <select class="form-select" [(ngModel)]="selectedProduct.status" name="status">
              <option selected>Open this select menu</option>
              <option value="SALE">SALE</option>
              <option value="AVAILABLE">AVAILABLE</option>
              <option value="COMING_SOON">COMING_SOON</option>
              <option value="UNAVAILABLE">UNAVAILABLE</option>
            </select>
            <!-- <input type="text" id="status" name="status" class="form-control" [(ngModel)]="selectedProduct.status"> -->
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger" (click)="closePopup()">Close
          </button>
        </form>


      </div>
    </div>
  </div>
</div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image URL</th>
      <th scope="col">Status</th>
      <th scope="col">Added By</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let product of allProducts">
      <tr>
        <th scope="row">{{ product.produtId }}</th>
        <th scope="row">{{ product.productname }}</th>
        <th scope="row">{{ product.categoryname }}</th>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.imageurl }}</td>
        <td>{{ product.status }}</td>
        <td>{{ product.userId }}</td>
        <td>
          <a class="btn btn-primary" (click)="openPopup(product)">Update</a>
          <a (click)="deleteCategoryById(product.produtId)" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>